@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-area="" asp-controller="Home" asp-action="Movies">The Joel Hilton Film Collection</a>
    <h5>Featuring Joel Hilton</h5>
    <img src="~/img/joelhilton.jpg" height="400" />
</div>
